@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    /*Font kind*/
    font-family: 'Poppins', sans-serif;
    /*Lines and alignment*/
    margin: 0;
    padding: 0;
    /*No overlap between sheets*/
    box-sizing: border-box;
    /*allows you to control the smoothness of a scrolling element on a webpage when it is targeted by an internal link*/
    scroll-behavior: smooth;
}

header {
    background-color: aqua;
    width: 100%;
    /*يعني يكون ثابت*/
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    font-size: 26px;
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: blueviolet;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(myphoto3.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: blue;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: aliceblue;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: rgb(13, 25, 196);
    transform: scale(1.1);
}

.social-icons a {
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 17, 255);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: aliceblue;
    width: 21.22em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: blue;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h2 {
    color: blue;
    font-size: 1.8em;
    font-weight: 700;
    margin: 25px;
}

.footer {
    background-color: black;
    color: aliceblue;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    color: blue;
}

